# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.exe
.idea/inspectionProfiles/
.idea/*.xml
.idea/vcs.xml
.gitignore
.idea/transeiverstatusssh.iml
out
gen

